<div class="main">
    <img class="image" src="https://res.cloudinary.com/doiyb9hon/image/upload/v1702371955/st7x48azh7y05ys69shy.gif">
    <p class="content">Hurray!!! Your Order is Confirmed the Order id is #15 Save the order id for further communication</p>
    <table>
        <thead>
          <tr>
            <th>Email us</th>
            <th>Contact us</th>
            <th>Address</th>
          </tr>
        </thead>
        <tbody>
            <tr>
            <td>admin@bookstore.com</td>
            <td>+91 8163475881</td>
            <td class="address">42, 14th Main, 15th Cross, Sector 4 ,opp to BDA complex, near Kumarakom restaurant, HSR Layout, Bangalore 560034</td>
          </tr>
        </tbody>
      </table>
      <a mat-flat-button href="dashboard/books" color="primary" class="shopping">Continue Shopping</a>
</div>